@font-face {
    font-family: "bad-grunge";
    src: url("../static/fonts/bad-grunge.woff");
}

@font-face {
    font-family: "gt-walsheim-regulr";
    src: url("../static/fonts/gt-walsheim-regular.woff");
}

body{
    margin: 0;
    filter: saturate(100%);
}

main{
    width: 100%;
    height: 100vh;
    background-image: url('../static/images/textura-background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }


.imgLinhas{
    width: 400px;
    height: 290px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.imgBolinhas{
    width: 600px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
}

.homem{
    width: 480px;
    height: 570px;
    position: absolute;
    bottom: 0;
    right: 90px;
}

.frase{
    position: absolute;
    top: 150px;
    left: 150px;
}

#SHAPE{
    color: #959595;
    font-family: "bad-grunge";
    font-size: 7rem;
    line-height: 0.5;
}

#INFINITO{
    color: #824d37;
    font-family: "bad-grunge";
    font-size: 7rem;
    line-height: 0.5;
}

span{
    font-family:"gt-walsheim-regulr";
    color: #959595;
    font-size: 1.1rem;
    line-height: 1.4;
}

button{
    margin: 1rem 0 0 0;
    border: none;
    font-family: "bad-grunge";
    font-size: 1.8rem;
    padding: 0 1rem 0 1rem;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1055;
}



@media screen and (max-width: 1060px) {
    .frase{
        left: 120px;
    }
}

@media screen and (max-width: 1020px) {
    .frase{
        left: 90px;
    }
    .imgLinhas{
        width: 350px;
        height: 280px;
    }
}

@media screen and (max-width: 983px) {
    .frase{
        left: 90px;
        z-index: 1;
    }
    .imgLinhas{
        width: 350px;
        height: 280px;
        z-index: 1;
    }
    .homem{
        z-index: 0;
        right: 50px;
    }
}

@media screen and (max-width: 898px) {
    .frase{
        top: 100px;
        left: 90px;
        z-index: 1;
    }
    .imgLinhas{
        width: 350px;
        height: 250px;
        z-index: 1;
    }
    .homem{
        width: 440px;
        height: 530px;
    }
}

@media screen and (max-width: 898px) {
    .frase{
        top: 100px;
        left: 90px;
        z-index: 1;
    }
    .imgLinhas{
        width: 350px;
        height: 250px;
        z-index: 1;
    }
    .homem{
        width: 410px;
        height: 500px;
    }
}

@media screen and (max-width: 828px) {
    .frase{
        top: 100px;
        left: 90px;
        z-index: 1;
    }
    .imgLinhas{
        width: 350px;
        height: 250px;
        z-index: 1;
    }
    .homem{
        width: 360px;
        height: 450px;
    }
}

@media screen and (max-width: 745px) {
    .frase{
        top: 100px;
        left: 90px;
        z-index: 1;
    }

    #SHAPE{
        color: #959595;
        font-family: "bad-grunge";
        font-size: 5rem;
        line-height: 0.5;
    }
    
    #INFINITO{
        color: #824d37;
        font-family: "bad-grunge";
        font-size: 5rem;
        line-height: 0.5;
    }
    
    span{
        font-family:"gt-walsheim-regulr";
        color: #959595;
        font-size: 0.9rem;
        line-height: 1.4;
    }

    .imgBolinhas{
        width: 500px;
        height: 400px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .imgLinhas{
        width: 350px;
        height: 250px;
        z-index: 1;
    }
    .homem{
        width: 360px;
        height: 450px
    }
}


@media screen and (max-width: 719px) {
    .frase{
        top: 50px;
        left: 40px;
        z-index: 1;
    }

    #SHAPE{
        color: #959595;
        font-family: "bad-grunge";
        font-size: 5rem;
        line-height: 0.5;
    }
    
    #INFINITO{
        color: #824d37;
        font-family: "bad-grunge";
        font-size: 5rem;
        line-height: 0.5;
    }
    
    span{
        font-family:"gt-walsheim-regulr";
        color: #959595;
        font-size: 0.9rem;
        line-height: 1.4;
    }
    
    .imgBolinhas{
        width: 450px;
        height: 350px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .imgLinhas{
        width: 260px;
        height: 160px;
        z-index: 1;
    }
    .homem{
        width: 290px;
        height: 340px
    }
}


@media screen and (max-width: 280px) {
    .frase{
        top: 50px;
        left: 40px;
        z-index: 1;
    }

    #SHAPE{
        color: #959595;
        font-family: "bad-grunge";
        font-size: 5rem;
        line-height: 0.5;
    }
    
    #INFINITO{
        color: #824d37;
        font-family: "bad-grunge";
        font-size: 5rem;
        line-height: 0.5;
    }
    
    span{
        font-family:"gt-walsheim-regulr";
        color: #959595;
        font-size: 0.9rem;
        line-height: 1.4;
    }
    
    .imgBolinhas{
        width: 450px;
        height: 350px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .imgLinhas{
        width: 200px;
        height: 130px;
        z-index: 1;
    }
    .homem{
        right: 20px;
        width: 250px;
        height: 300px
    }
}


